/*first main div start*/
.main_div{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.header{
    width: 790px;
    height: 150px;
    background-color: yellow;
    padding-top: 30px;
    padding-left: 30px;
}
.third_div{
    display: flex;
}
.nav{
    width: 120px;
    height: 280px;
    background-color: yellow;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 30px;
}
.article{
    width: 470px;
    height: 120px;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 30px;
    padding-left: 30px;
}
.ads{
    width: 120px;
    height: 120px;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 30px;
    padding-left: 30px;
}
.fourth_div{
    display: flex;
}
.footer{
    width: 630px;
    height: 120px;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 30px;
    padding-left: 30px;
}
/*first main div end*/
/*second main div start*/
.nw_main_div{
    display: flex;
    justify-content: center;
}
.nw_second_div{
    width: 830px;
    height: 820px;
    text-align: center;
}
h3{
    padding-top: 10px;
    text-transform: capitalize;
}
.nw_header{
    width: 100%;
    height: 100px;
    background-color: grey;
}
.nw_third_div{
    display: flex;
}
.nw_nav{
    width: 100px;
    height: 610px;
    background-color: orange;
    text-align: center;
    margin-top: 10px;
}
.nw_nav p{
    padding-top: 270px;
    text-transform: capitalize;
}
.inner_div{
    display: flex;
    flex-direction: column;
}
.content_left{
    width: 200px;
    height: 250px;
    background-color: darkgray;
    margin-top: 10px;
    margin-left: 10px;
}
.content_left p{
    padding-top: 20px;
    text-transform: capitalize;
    text-align: center;
}
.contents{
    display: flex;
}
.content_center{
    width: 300px;
    height: 250px;
    background-color: red;
    margin-top: 10px;
    margin-left: 10px;
}
.content_center p{
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
}
.content_right{
    width: 200px;
    height: 250px;
    background-color: gray;
    margin-top: 10px;
    margin-left: 10px;
}
.content_right p{
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
}
.middle_content{
    width: 720px;
    height: 160px;
    background-color: blue;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}
.middle_content span{
    padding-top: 10px;
}
.lower_content{
    width: 720px;
    height: 180px;
    background-color: orangered;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}
.lower_content span{
    padding-top: 20px;
}
.sticky_footer{
    width: 830px;
    height: 80px;
    background-color: gray;
    text-transform: capitalize;
    margin-top: 10px;
}
.sticky_footer span{
    padding-top: 20px;
}
/*second main div end*/
/*third main div start*/
.third_main_div{
    width: 1700px;
    height: 900px;
    background-color: rgb(23, 12, 87);
}
.general_things{
    padding-left: 250px;
    padding-top: 100px;
}
.title_line{
    width: 920px;
    height: 60px;
    background-color: navy;
    display: flex;
    gap: 60px;
}
.set_icon_text{
    display: flex;
    justify-items: center;
    gap: 10px;
}
.settings{
    width: 35px;
    height: 35px;
    padding-left: 30px;
    padding-top: 15px;
}
.span_settings{
    color: white;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: larger;
}
.acc_icon_text{
    display: flex;
    justify-items: center;
    gap: 10px;
}
.account{
    width: 35px;
    height: 35px;
    padding-top: 15px;
}
.span_account{
    color: white;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 20px;
}
.massage_icon_text{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.messages{
    width: 35px;
    height: 35px;
    padding-top: 15px;
}
.span_messages{
    color: white;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 20px;
}
.fav_icon_text{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.favorite{
    width: 35px;
    height: 35px;
    padding-top: 15px;
}
.span_favorite{
    color: white;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 20px;
}
.me_more{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-left: 65px;
}
.me{
    display: flex;
    gap: 10px;
}
.this_me{
    color: white;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 20px;
}
.more{
    width: 15px;
    height: 15px;
    padding-top: 25px;
}
.im{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 4px;
}
.tools{
    width: 300px;
    height: 360px;
    background-color: navy;
    margin-top: 10px;
}
.second_part{
    display: flex;
    gap: 10px;
}
.menu_box{
    width: 300px;
    height: 50px;
    background-color: rgb(9, 134, 51);
    display: flex;
    justify-content: center;
}
.span_menu{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: larger;
    margin-top: 15px;
}
.messages2{
    display: flex;
    gap: 15px;
}
.message1{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
}
.span_message{
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
    font-size: larger;
}
.invites{
    display: flex;
    gap: 15px;
}
.paper_plane{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
}
.span_paperplane{
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
    font-size: larger;
}
.events{
    display: flex;
    gap: 15px;
}
.calendar{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
}
.span_calendar{
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
    font-size: larger;
}
.acc_settings{
    display: flex;
    gap: 15px;
}
.accaunt_settings{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
}
.span_acc_settings{
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
    font-size: larger;
}
.statistics{
    display: flex;
    gap: 15px;
}
.statistic{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
}
.span_statistics{
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
    font-size: larger;
}
.center_div{
    width: 300px;
    height: 380px;
    background-color: navy;
    margin-top: 10px;
}
.add{
    width: 20px;
    height: 20px;
    padding-left: 270px;
    padding-top: 10px;
}
.myself{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 20px;
}
.surname_name{
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.text_about_me{
    width: 200px;
    text-align: center;
    color: white;
    padding-left: 50px;

}
.lines{
    display: flex;
}
.yellow_line{
    width: 100px;
    height: 3px;
    background-color: yellow;
}
.green_line{
    width: 100px;
    height: 3px;
    background-color: green;
}
.red_line{
    width: 100px;
    height: 3px;
    background-color: red;
}
.bottom_tools{
    display: flex;
    justify-content: space-between;
}
.comments{
    width: 96px;
    height: 46px;
    background-color:  rgb(23, 12, 87);
    display: flex;
    justify-content: center;
    margin-left: 2px;
    gap: 10px;
}
.comment{
    width: 35px;
    height: 35px;
    margin-top: 7px;
}
.span_comment{
    color: white;
    margin-top: 15px;
}
.views{
    width: 97px;
    background-color:  rgb(23, 12, 87);
    display: flex;
    justify-content: center;
    
    gap: 10px;
}
.view{
    width: 35px;
    height: 35px;
    margin-top: 7px;
}
.span_view{
    color: white;
    margin-top: 15px;
}
.likes{
    width: 97px;
    background-color:  rgb(23, 12, 87);
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 3px;
}
.like{
    width: 35px;
    height: 35px;
    margin-top: 7px;
}
.span_like{
    color: white;
    margin-top: 15px;
}
.right_div{
    width: 300px;
    height: 250px;
    background-color: navy;
    margin-top: 10px;
}
.newsletter{
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
}
.email{
    width: 260px;
    height: 50px;
    background-color: rgb(23, 12, 87);
    display: flex;
    margin-left: 20px;
    gap: 10px;
    justify-content: center;
}
.emails{
    width: 35px;
    height: 35px;
    margin-top: 7px;
}
.mail_link{
    padding-top: 15px;
    text-decoration: none;
    color: white;
}
.button_subscription{
    margin-top: 20px;
    margin-left: 70px;
}
.subscribe{
    width: 155px;
    height: 55px;
    background-color: rgb(41, 172, 106);
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.third_part{
    display: flex;
    gap: 10px;
}
.left_div_bottom{
    width: 300px;
    height: 250px;
    background-color: navy;
}
.h2_div_bottom{
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 8px;    
}
.circle{
    width: 150px;
    height: 150px;
    background-color: aqua;
    border-radius: 50%;
    margin: 20px 80px;
    display: flex;
    justify-content: center;
}
.text_circle{
    width: 100px;
    height: 100px;
    background-color: navy;
    border-radius: 50%;
    margin-top: 25px;
}
.text_in_circle{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.date_in_circle{
    text-align: center;
    color: white;
}
.center_div_bottom{
    width: 300px;
    height: 200px;
    background-color: red;
    margin-top: 10px;
}
.locations{
    width: 300px;
    height: 60px;
    background-color: purple;
    display: flex;
    justify-content: center;
}
.city_location{
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-left: 5px;
}
.tashkent{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 10px 5px;
}
.date{
    margin-left: 30px;
}
.h5_date{
    color: white;
    text-transform: capitalize;
    margin: 0px;
    padding-top: 0px;
}
.degree{
    width: 300px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0px auto;
}
.h1_degree{
    color: white;
    font-size: 60px;
}
.img_weather{
    width: 90px;
    height: 90px;
}
.test_div{
    width: 300px;
    height: 400px;
    background-color: navy;
    margin-top: 40px;
}
.h3_sign{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
}
.box_sign{
    width: 260px;
    height: 50px;
    background-color: rgb(23, 12, 87);
    display: flex;
    margin-left: 20px;
    gap: 10px;
    justify-content: center;
}
.img_email{
    width: 35px;
    height: 35px;
    padding: 8px;
}
.enter_email{
    margin-top: 11px;
    height: 20px;
    background-color: rgb(35, 35, 184);
}
.password{
    width: 260px;
    height: 50px;
    background-color: rgb(23, 12, 87);
    display: flex;
    margin-left: 20px;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.img_password{
    width: 35px;
    height: 35px;
    padding: 8px;
}
.enter_password{
    margin-top: 11px;
    height: 20px;
    background-color: rgb(35, 35, 184);
}
.button_to_sign{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.press_to_sign{
    margin: 30px 70px;
    width: 155px;
    height: 55px;
    background-color: red;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.forgot_password{
    color: gray;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 90px;
}


/*third main div end*/